body{
    background-color:#f5f5f5;
    font-family:Arial, Helvetica, sans-serif;
    ;
}

header{
    background:#111;
    color:white;
}

.slide-img{
    height:100px;
    object-fit:cover;
}

.card-img-top{
    height: 120px;
    object-fit:cover;
}

.card{
    border:none;
    transition:0.3s;
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
}

.card:hover{
    transform:translateY(-5px);
}

.card-body{
    text-align:center;
}

.detalhe-img{
    width:100%;
    max-width:400px;
    height:250px;
    object-fit:cover;
    display:block;
    margin:auto;
}

.exercicio-img{
    height:150px;
    object-fit:cover;
}

.list-group-item{
    font-size:15px;
}

footer{
    border-top:1px solid #ddd;
    padding-top:20px;
}

@media(max-width:768px){

    .slide-img{
        height:180px;
    }

    .card-img-top{
        height:50px;
    }

    .detalhe-img{
        height:180px;
    }

    .exercicio-img{
        height:120px;
    }

}
.slide-img{
    width:100px !important;
    height:100px !important;
    object-fit:cover;
}
.hero{
    background:linear-gradient(135deg,#111,#444);
    color:white;
    border-radius:10px;
    margin:20px;
}

.navbar-brand{
    font-size:1.5rem;
}

.nav-link{
    font-weight:500;
}

.nav-link:hover{
    color:#dc3545 !important;
}

html{
    scroll-behavior:smooth;
}